
@(customerForm: Form[models.Customer])(implicit lang: Lang)
@import helper._

@main(Messages("customerRepository.title")) {

<div class="container">
    <div class="row">
        <div class="form-group">
            <h1>@Messages("customerRepository.h1")</h1>

            @form(routes.CustomerRepository.submit) {
            <div class="input-group">
                @helper.inputText(customerForm("firstName"), 'id -> "firstName", 'class -> "form-control")
            </div>
            <div class="btn-group">
                <div>
                <input id="addCustomer" type="submit" class="btn btn-primary" value="@Messages("customerRepository.submit")">&nbsp
                <a id="back" href="@routes.Start.present" class="btn btn-default">@Messages("customerRepository.back")</a>
                </div>
            </div>
        </div>
    </div>
</div>
}
}






