
@(customerForm: Form[String])(implicit lang: Lang)
@import helper._

@main(Messages("disposal_of_vehicle.keeperFullName.title")) {

<div class="container">
    <div class="row">
        <div class="form-group">
            <h1>@Messages("customerRepository.h1")</h1>

            @form(routes.CustomerRepository.submit) {
            <div class="input-group">
                @helper.inputText(customerForm("firstName"), 'id -> "firstName", 'class -> "form-control")
            </div>
            <div class="btn-group">
                <input type="submit" class="btn btn-primary" value="@Messages("customerRepository.submit")">
            </div>
        </div>
    </div>
</div>
}
}






