@(customers: List[Customer], customerForm: Form[String])

@import helper._

@main("Customer list") {

<h1>@customers.size customer(s)</h1>

<ul>
    @customers.map { customer =>
    <li>
        <p>@customer.firstName</p>p>

        @form(routes.Application.deleteCustomer(customer.id)) {
        <input type="submit" value="Delete">
        }
    </li>
    }
</ul>

<h2>Add a new customer</h2>

@form(routes.Application.newCustomer) {

@inputText(customerForm("firstName"))

<input type="submit" value="Create">

}
}