@(customers: List[Customer], customerForm: Form[String])(implicit lang: Lang)

@import helper._

@main("Customer list") {
<div class="container">
    <div class="row">
        <h1>Customer repository - @customers.size customer(s)</h1>
        <hr/>
        <div class="form-group">
            <ul>
            @customers.map { customer =>
                <li>
                    <p>@customer.firstName</p>p>

                    @form(routes.CustomerRepository.deleteCustomer(customer.id)) {
                    <div class="btn-group">
                        <input type="submit" class="form-control" value="Delete">
                    </div>
                    }
                </li>
            }
            </ul>
        </div>

        <div class="form-group">
            <h2>Add a new customer</h2>

            @form(routes.CustomerRepository.newCustomer) {
            <div class="input-group">
                @helper.inputText(customerForm("firstName"), 'id -> "firstName", 'class -> "form-control")
            </div>
            <div class="btn-group">
                <input type="submit" class="btn btn-primary" value="Create">
            </div>
        </div>
    </div>
</div>
}
}